<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/news.css">
</head>

<body>

<form action='http://localhost:4000/news/data/add' method="POST">

Title:
<input type='text' name= "title">

<br>

Content:
<input type='text' name= "content">

<br>

<input type='submit' name= "submit">

</form>


</body>

</html>